.dashboard-title{
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: 900;
    font-size: 45px;
    border: 1px solid orange;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 191, 73);
    border-radius: 5px;
}